body {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

main {
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
}

.card {
    border: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    border-radius: 4px;
    transition: transform .2s ease;
}

.card-overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-overlay-container:hover {
    background-color: rgba(128, 128, 128, 0.75);
    border-radius: 4px;
    box-shadow: 0 0 0 1px #cc7b19, 0 0 4px rgba(0, 0, 0, .3);
}

.card-overlay {
    visibility: hidden;
}

.card-overlay-container:hover .card-overlay {
    visibility: visible;
}

.btn-primary {
    background-color: #cc7b19;
    border: 0;
    color: hsla(0, 0%, 100%, .7);;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #cc7b19;
    border: 0;
    color: white;
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    border-width: 2px;
    border-color: #cacaca;
    font-size: 1.3em;
}

.btn-circle:hover {
    border: 0;
    background-color: #cc7b19 !important;
}

.btn-circle i {
    position: relative;
    color: #cacaca;
    top: -5px;
}

.btn-circle:hover i {
    color: #1f2326;
    top: -3px;
}

.title {
    color: white;
    font-weight: 400;
    overflow: hidden !important;
    min-width: 0;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}

.overlay-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    overflow: scroll;
}

.overlay {
    position: relative;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    cursor: auto;
    border-radius: 10px;
    color: white;
}

.details {
    margin: 5vh auto;
}

.notice {
    margin: 10vh auto;
}

.btn-r-med {
    margin-right: 0.5rem;
}

.btn-r-big {
    margin-right: 1rem;
}